.contactHeader {
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
    url('https://www.elegantthemes.com/layouts/wp-content/uploads/2017/12/header-bg-2-2-2-2.jpg');
    background-size: cover;
    height: 50rem;
    padding: .1rem;
}

.contactHeading {
    margin-top: 18rem;

    h1 {
        font-size: 9rem;
        color: #fff;
        text-align: center;
        margin: 0;
        font-weight: 500;
        margin: 5rem auto -1rem;
    }

    p {
        color: #fff;
        font-size: 2.2rem;
        text-align: center;
        margin: 0 auto 3rem;
        width: 75rem;
        text-align: center;
    }
}


//MEDIA QUERIES
@media( max-width: 950px ) {
    .contactHeading {
        h1 {
            font-size: 6rem;
        }

        p {
            max-width: 85%;
        }
    }
}