.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.7rem;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 101;
    width: 100%;
    box-shadow: 0px 19px 29px -2px rgba(102,102,102,1);

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        margin-left: 4rem;
        color: #B38157;

        img {
            height: 4.5rem;
            margin-right: .5rem;
            margin-bottom: .7rem;
        }
    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 4rem;
    }

    &__listItem {
        margin: 0 1.5rem;

        a {
            text-decoration: none;
            font-size: 2rem;
            color: black;
        }

        a:hover {
            color: #B38157;
            cursor: pointer;
        }
    }

    &__listItem:last-child {
        margin-right: 0;
    }
}

.mobileNav {
    width: 3.5rem;
    display: none;
}

.mobileNav:hover {
    cursor: pointer;
}

.active {
    color: #B38157 !important;
}


//MEDIA QUERIES
@media( max-width: 950px ) {
    .navigation {
        height: auto;
        min-height: 7.7rem;
        flex-direction: column;

        &__list {
            display: none;
            flex-direction: column;
            margin: 2rem 0 3rem;

            &Item {
                margin: 1rem 0 0;
                a {
                    color: #B38157;
                    font-size: 3rem;
                }
            }
        }

        &__container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 1.3rem;
        }
    }

    .mobileNav {
        display: inline;
        margin-right: 4rem;
    }
}