.aboutCoffee {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 5rem;
        font-weight: 500;
        margin: 10rem 0 0;
    }

    p {
        font-size: 2rem;
        width: 66rem;
        text-align: center;
        color: #666;
        margin: 0;
    }
}

.coffeeList {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style: none; 
    margin: 6rem auto 10rem;

    &Item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 32rem;
        margin: 0 1rem;

        img {
            width: 7rem;
        }

        h3 {
            font-size: 2rem;
            font-weight: 500;
            margin: 2rem 0 1rem;
        }

        p {
            width: 90%;
            font-size: 1.8rem;
        }
    }
}


//MEDIA QUERIES 
@media( max-width: 1050px ) {
    .coffeeListItem {
        width: 28rem;
        margin: 0 .5rem;
    }
}

@media( max-width: 950px ) {
    .aboutCoffee {
        h1 {
            font-size: 4rem;
        }

        p {
            max-width: 80%;
        }
    }

    .coffeeList {
        flex-direction: column;

        &Item {
            margin: 3.3rem 0;
            width: 35rem;
        }
    }
}
