.ourTeam {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 5rem;
        font-weight: 500;
        margin: 10rem auto 0;
    }

    p {
        margin: 0;
        font-size: 1.8rem;
        line-height: 3.5rem;
        color: #888;
        width: 66rem;
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: center;
        margin: 5rem auto 5rem;
        padding: 0;
        list-style: none;

        &Item {
            margin: 0 3rem;
            width: 33rem;

            img {
                width: 100%;
            }

            h3 {
                font-size: 2.5rem;
                font-weight: 500;
                margin: 1rem 0 0;
            }

            h5 {
                color: #666;
                font-size: 1.8rem;
                margin: 0;
                font-weight: 300;
            }
        }
    }

    button {
        border: none;
        background-color: #dca47d;
        color: white;
        height: 5.5rem;
        width: 15rem;
        font-size: 1.6rem;
        letter-spacing: .2rem;
        font-family: 'Roboto Condensed', sans-serif;
        margin-bottom: 7rem;
    }
}


//MEDIA QUERIES
@media( max-width: 1150px ) {
    .ourTeam {
        p {
            width: 75rem;
            max-width: 80%;
        }

        &__list {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            align-items: center;
            width: 75rem;
            max-width: 80%;

            &Item {
                width: 100%;
                display: flex;
                margin-bottom: 3.3rem;

                img {
                    width: 28rem;
                }

                .personInfo {
                    margin-left: 3rem;

                    h3 {
                        margin-top: 0;
                        padding-top: 0;
                    }
                }
            }
        }
    }
}

@media( max-width: 700px ) {
    .ourTeam {
        &__listItem {
            flex-direction: column;

            img {
                width: 33rem;
                max-width: 100%;
            }

            .personInfo {
                margin-left: 0;
                margin-top: 1.5rem;
            }
        }
    }
}