.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.7rem;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 101;
    width: 100%;
    box-shadow: 0px 19px 29px -2px rgba(102,102,102,1);

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        margin-left: 4rem;
        color: #B38157;

        img {
            height: 4.5rem;
            margin-right: .5rem;
            margin-bottom: .7rem;
        }
    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 4rem;
    }

    &__listItem {
        margin: 0 1.5rem;

        a {
            text-decoration: none;
            font-size: 2rem;
            color: black;
        }

        a:hover {
            color: #B38157;
        }
    }

    &__listItem:last-child {
        margin-right: 0;
    }
}