.blog {
    background-color: #f8f8f8;
    padding: .1rem;

    &__list {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 10rem auto 5rem;
        max-width: 150rem;
    }

    &__listItem {
        width: 35rem;
        background-color: white;
        margin: 0 2rem 5rem;

        img {
            width: 100%;
        }

        h3 {
            font-size: 1.8rem;
            margin: 2rem 0 .5rem 1.5rem;
        }

        span {
            margin: 0 0 0 1.5rem;
            font-size: 1.4rem;
            color: gray;
        }

        p {
            margin-left: 1.5rem;
            width: 30rem;
            font-size: 1.6rem;
            margin-bottom: 3rem;
            color: #666;
        }
    }
}

