.coffeeShop {
    height: 72rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('https://www.elegantthemes.com/layouts/wp-content/uploads/2017/12/section-bg-3.jpg');
    background-size: cover;
    background-position: center;

    &__list {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3.3rem;
        padding: 0;
    }

    &__listItem {
        margin: 0 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #dca47d;

        img {
            width: 7.7rem;
        }

        h5 {
            font-size: 2rem;
            margin: 1rem 0 0;
        }
    }

    h1 {
        font-size: 5rem;
        margin: 15rem auto 2rem;
        color: #fff;
        font-weight: 500;
    }

    p {
        width: 60rem;
        margin: 0 auto;
        color: #fff;
        text-align: center;
        font-size: 1.8rem;
        line-height: 4rem;
    }

    button {
        border: none;
        background-color: #B38157;
        color: white;
        height: 5.5rem;
        width: 15rem;
        font-size: 1.6rem;
        letter-spacing: .2rem;
        font-family: 'Roboto Condensed', sans-serif;
        margin: 3rem auto 0;
    }

    button:hover {
        cursor: pointer;
    }
}


//MEDIA QUERIES
@media( max-width: 950px ) {
    .coffeeShop {
        height: auto;

        h1 {
            margin: 10rem 0 4rem;
            width: 35rem;
            text-align: center;
            line-height: 5.5rem;
        }

        &__list {
            flex-direction: column;

            &Item {
                margin: 0 0 5rem;
            }

            &Item:last-child {
                margin-bottom: 0;
            }
        }

        p {
            margin-top: 0;
            max-width: 85%;
        }

        button {
            margin: 4rem 0 11rem;
        }
    }
}