.mainCoffee {
    background: url('https://www.elegantthemes.com/layouts/wp-content/uploads/2017/12/section-bg-8-1.jpg');
    background-position: center;
    background-size: cover;
    padding: .1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
        font-size: 5rem;
        line-height: 6rem;
        width: 75rem;
        margin: 7rem auto 0;
        font-weight: 500;
    }

    p {
        text-align: center;
        font-size: 2.2rem;
        width: 75rem;
        margin: 2rem auto 0;
        color: gray;
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 5rem auto 0;
        padding: 0;
    }

    &__listItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 3rem;

        img {
            width: 28rem;
        }

        h3 {
            font-size: 2.5rem;
            margin: 2rem auto .5rem;
            color: black;
            font-weight: 500;
        }

        p {
            width: 33rem;
            font-size: 1.8rem;
            margin: 0 auto;
            color: #666;
        }
    }

    button {
        color: white;
        background-color: #dca47d;
        border: none;
        height: 5.5rem;
        width: 15rem;
        font-size: 1.6rem;
        letter-spacing: .2rem;
        font-family: 'Roboto Condensed', sans-serif;
        margin: 7rem 0 10rem;
    }

    button:hover {
        cursor: pointer;
    }
}


//MEDIA QUERIES
@media( max-width: 1150px ) {
    .mainCoffee {
        h1 {
            font-size: 4rem;
            width: 50rem;
            line-height: 5rem;
        }

        p {
            font-size: 1.8rem;
            margin: 0 0 2rem;
            width: 50rem;
            max-width: 90%;
        }
    
        &__listItem {
            img {
                width: 20rem;
            }

            p {
                width: 26rem;
            }
        }
    }
}

@media( max-width: 950px ) {
    .mainCoffee {
        h1 {
            font-size: 3.5rem;
            line-height: 4rem;
            margin-bottom: 1rem;
        }

        &__list {
            flex-direction: column;
        }

        &__listItem {
            margin-bottom: 7rem;

            img {
                width: 35rem;
            }

            h3 {
                font-size: 3rem;
            }

            p {
                width: 40rem;
                font-size: 2rem;
                margin: 0;
            }
        }

        button {
            margin-top: 0;
        }
    }
}