.freshBeans {
    display: flex;
    height: auto;

    &__info {
        flex: 1;
        display: flex;
        justify-content: center;
        margin-top: 10rem;

        h1 {
            font-size: 5rem;
            margin: 0;
            font-weight: 500;
        }

        p {
            font-size: 1.8rem;
            color: #666;
            margin: 0;
            line-height: 3.3rem;
        }

        button {
            border: none;
            background-color: #dca47d;
            color: white;
            margin-top: 4rem;
            margin-bottom: 10rem;
            height: 5.5rem;
            width: 15rem;
            font-size: 1.6rem;
            letter-spacing: .2rem;
            font-family: 'Roboto Condensed', sans-serif;
        }

        button:hover {
            cursor: pointer;
        }

        &--container {
            width: 44rem;
        }
    }

    &__image {
        flex: 1;

        img {
            width: 100%;
            height: 100%;
        }
    }
}


//MEDIA QUERIES
@media( max-width: 950px ) {
    .freshBeans {
        flex-direction: column;

        &__image {
            display: none;
        }

        &__info {
            &--container {
                width: 80%;
            }
        }
    }
}