.greatCoffee {
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: url('../../img/coffeeGrounds-cup.png');
    background-size: cover;
    background-position: 50%;

    &__container {
        width: 55rem;
        margin-right: 12rem;

        h1 {
            font-size: 5rem;
            margin: 1rem 0 0;
        }

        p {
            font-size: 1.8rem;
            color: #666;
            margin: 0;
        }

        button {
            border: none;
            background-color: #B38157;
            color: white;
            margin-top: 4rem;
            height: 5.5rem;
            width: 15rem;
            font-size: 1.6rem;
            letter-spacing: .2rem;
            font-family: 'Roboto Condensed', sans-serif;
        }
    }
}