.header {
    height: 100vh;
    background: url('../../img/header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: .1rem;
}

.heading {
    text-align: center;
    margin: 33rem 0 0;
    color: white;

    h1 {
        font-size: 7rem;
        margin: 0;
        letter-spacing: .2rem;
        font-weight: 500;
    }

    p {
        font-size: 3rem;
        margin: -1rem 0 4rem;
        font-weight: 300;
    }

    button {
        border: none;
        background-color: #dca47d;
        color: white;
        height: 5.5rem;
        width: 15rem;
        font-size: 1.6rem;
        letter-spacing: .2rem;
        font-family: 'Roboto Condensed', sans-serif;
    }

    button:hover {
        cursor: pointer;
    }
}


//MEDIA QUERIES
@media (max-width: 860px) {
    .heading {
        h1 {
            width: 50rem;
            margin: 0 auto 2rem;
            line-height: 6.6rem;
            font-size: 6rem;
        }

        p {
            font-size: 2.2rem;
        }
    }
}