.mainpageBlog {
    background-color: #f8f8f8;
    padding: .1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 5rem;
        margin: 8.8rem auto .5rem;
        font-weight: 500;
    }

    .para {
        font-size: 2rem;
        margin: 0rem;
        color: #666;
        width: 66rem;
        text-align: center;
    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 7rem;
        padding: 0;
    }

    &__listItem {
        width: 35rem;
        background-color: white;
        margin: 0 2rem;

        img {
            width: 100%;
        }

        h3 {
            font-size: 1.8rem;
            margin: 2rem 0 .5rem 1.5rem;
        }

        span {
            margin: 0 0 0 1.5rem;
            font-size: 1.4rem;
            color: gray;
        }

        p {
            margin-left: 1.5rem;
            width: 30rem;
            font-size: 1.6rem;
            margin-bottom: 3rem;
            color: #666;
        }
    }

    button {
        border: none;
        background-color: #dca47d;
        color: white;
        height: 5.5rem;
        width: 15rem;
        font-size: 1.6rem;
        letter-spacing: .2rem;
        font-family: 'Roboto Condensed', sans-serif;
        margin: 3rem auto 11rem;
    }

    button:hover {
        cursor: pointer;
    }
}


//MEDIA QUERIES
@media( max-width: 1170px ) {
    .mainpageBlog__listItem {
        width: 28rem;

        p {
            max-width: 90%;
        }
    }
}

@media( max-width: 950px ) {
    .mainpageBlog {
        h1 {
            font-size: 4rem;
            margin-bottom: 0;
        }

        p {
            max-width: 80%;
        }

        &__list {
            flex-direction: column;
            width: 100%;

            &Item {
                width: 85%;
                margin-bottom: 5rem;

                p {
                    width: 95%;
                    max-width: 100%;
                }
            }
        }
    }
}